/* -----------------------------------------------------------------------------
 * DOCUMENT
 */


html {
  box-sizing: border-box;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-m);
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}